<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="style.css">
	<script defer src="vue.js"></script> 
	<script defer src="script.js"></script>
	<title>Table</title>
</head>
<body>
	<div id="app">
		<form  v-on:submit= "renovatio">
		<input  v-model="inputedvalue" placeholder="Укажи кол-во столбцов" type="text"></form>
		<table>
			<tr v-for="row of mainArray">
				<td v-for="cell of row"
					v-bind:class="[(cell % 2 != 0) ? even : '', od]"
					v-on:click="reversecell">
					{{cell}}
				</td>
			</tr>
		</table>
	</div>
</body>
</html>