table {
	text-align: center;
	font: 14px sans-serif;
}
td, th {
	padding: 3px;
	width: 10px;
}
.tdodd {
	background-color: blue;
}
.tdeven {
	background-color: red;
}
.tdclicked{
	background-color: green;
}